<div class="list-group-item flex-column">
  <h5 class="mb-1 answerTestee">Testee: {{ a.testee }}</h5>
  <p class="mb-1">Answer: {{ a.answer }}</p>
  <p class="mb-1 scoreRow">
    Score:
    {% if (a.score) and (a.score_confirmed) == 1 %}
      <span class="btn scoreResult scoreResultSmall">
        {{ a.score }} of {{ task.maxscore }}
      </span>
    {% elif a.score_confirmed == 1 %}
      <span>
        ? of {{ task.maxscore }}
      </span>
    {% else %}
      <span class="scoreUnconfirmed">
        ? of {{ task.maxscore }}
      </span>
    {% endif %}
  </p>
</div>