<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mark^2</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    {% block modals %}{% endblock %}
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/img/eth.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Mark²-DAPP
      </a>
      <span class="float-right" id="userInfo">blub</span>
    </nav>
    <div class="container">
      <h1>{% block headline %}{% endblock %}</h1>
      <h6>{% block subheadline %}{% endblock %}</h6>
      {% block content %}{% endblock %}
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/web3.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
      var user; //TODO: use this globally
      app.account().then(function(acc){
        if(acc) {
          $('#userInfo').text('Logged in as: ' + acc);
        }
        else{
          $('#userInfo')
          .text(
            "You're not logged in with any Ethereum account!")
          .addClass("font-italic");
        }
      });
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
