{% extends "base.html" %}

{% block headline %}Create a new assignment contract{% endblock %}
{% block subheadline %}
  Keep in mind that you cannot change the question, corrector or maximum score of an assignment afterwards, once they're online!
{% endblock %}
{% block content %}
  <form id="createForm">
    <div class="form-group">
      <label>Question text</label>
      <input type="text" class="form-control" id="questionText" placeholder="Enter question text">
    </div>
    <div class="form-group">
      <label>Corrector</label>
      <input type="text" class="form-control" id="corrector" placeholder="Enter public address of corrector">
    </div>
    <div class="form-group">
      <label>Keyword (case insensitive)</label>
      <input type="text" class="form-control" id="keyword" placeholder="Enter keyword for this task.">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>End date (UTC)</label>
        <input type="text" class="form-control" id="endDate" placeholder="Enter year, month and day (yyyy-mm-dd)">
      </div>
      <div class="form-group col-md-6">
        <label>End time (UTC)</label>
        <input type="text" class="form-control" id="endTime" placeholder="Enter hour, minute and second (hh:mm:ss)">
      </div>
    </div>
    <div class="form-group">
      <label>Maximum score</label>
      <input type="text" class="form-control" id="maxScore" placeholder="Enter highest possible score">
    </div>
  <button type="submit" id="createTask" class="btn btn-primary">Create task</button>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    $('#createForm').submit(function(e) {
        console.log('create Task');
        e.preventDefault(); // don't submit form
        var questionText = $('#createForm').find('input[id="questionText"]').val();
        var corrector = $('#createForm').find('input[id="corrector"]').val();
        var keyword = $('#createForm').find('input[id="keyword"]').val();
        var maxScore = $('#createForm').find('input[id="maxScore"]').val();
        var endDate = $('#createForm').find('input[id="endDate"]').val();
        var endTime = $('#createForm').find('input[id="endTime"]').val();

        //get timestamp from RFC 3339 compliant datetime. convert from ms to seconds
        var endTimestamp = new Date(endDate + 'T' + endTime + 'Z').valueOf() / 1000;
        maxScore = Number(maxScore);

        app.newTask(questionText, corrector, keyword, maxScore, endTimestamp);
    });
  </script>
{% endblock %}
