{% extends "base.html" %}

{% block headline %}Welcome to Mark²!{% endblock %}
{% block subheadline %}
  ...bringing assignments, exams and marks to the Blockchain &#x1F680
{% endblock %}
{% block content %}
  <div id="indexContent">
    With Mark² you can create, solve and correct assignments - and all of this on the blockchain.
    Moreover it allows you to correct such assignments
    in exchange for Mark²Coins &#x1F4B0 - our own token solely issued for this application.
    <p>Our solution is powered by the well established Ethereum blockchain.</p>
    <br/>
    The benefits of using Ethereum:
     <ul>
      <li>It's impossible to delete any assignments or solutions</li>
      <li>It's impossible to manipulate grades as a 3rd person</li>
      <li>It's impossible to get cheated on your Mark²Coin rewards</li>
    </ul>
    <p>And by "impossible" we mean literally IMPOSSIBLE!! &#x1F60E</p>
    <br/>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    $(window).on('load', function() {
      app.account()
      .then(function(acc){
        if(acc) {
          $('#indexContent').append(
            'Some things you can do here:' +
            '<ul>' +
            '<li><a href="/create">Create</a> new assignments and delegate the correction to others</li>' +
            '<li>Incentivise the work of marking these previously created assignments</li>' +
            '<li>Answer existing assignments</li>' +
            '<li>Correct answers (and earn Mark²Coins!)</li>' +
            '</ul>' +
            '<p>' +
            'In order to do so, use the navigation bar at the top of the page. ' +
            'To solve assignments, you have to look up the keyword which belongs ' +
            'to the regarding assignment(s).' +
            '</p>'
          );
        }
        else{
          $('#indexContent').append(
            'You are currently not logged in with an Ethereum wallet. ' +
            'You\'ll need the Metamask plugin for Firefox and Chrome or ' +
            'an Ethereum compatible browser like Mist to access your Ethereum accounts. ' +
            'Without you cannot use this app!'
          );
        }
      });
    });
  </script>
{% endblock %}