<a
  href="/task/{{ t.con }}"
  class="list-group-item list-group-item-action flex-column"
  id="{{ t.con }}"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      {{ t.question }}&nbsp;
      <span class="badge badge-info keywordSpan">{{ t.keyword }}</span>
    </h5>
    {{t.created_utc}}
  </div>
  <p class="mb-1">Address: {{ t.con }}</p>
  <p class="mb-1">Corrector: {{ t.corrector }}</p>
  <p class="mb-1">
    Expires (UTC):
    {{ t.end_utc }}
  </p>
  <p class="mb-1 keywordAnswer">Answer:
    {% if t.score or (t.score == 0) %}
      {{ t.answer }}
      <span class="float-right btn scoreResult">
        {{ t.score }} of {{t.maxscore}}
      </span>
    {% elif t.answer %}
      {{ t.answer }}
      <span class="float-right btn btn-primary disabledButton">
        Correction pending
      </span>
    {% elif t.testee %}
      -
      <span class="float-right btn btn-primary disabledButton">
        Processing answer
      </span>
    {% else %}
      -
    {% endif %}
  </p>
</a>
