{% extends "base.html" %}

{% block headline %}{{ task.question }}{% endblock %}
{% block subheadline %}<span class="badge badge-info keywordSpan">{{ task.keyword }}</span>{% endblock %}
{% block content %}
  <div class="border" id="taskInfo">
    <div class="row border-bottom taskInfoRow">
          <div class="col-lg-4 border-right">Address: {{conShort}}</div>
          <div class="col-lg-4 border-right">Owner: {{ownShort}}</div>
          <div class="col-lg-4" id="correctorInfo">Corrector: {{corShort}}</div>
    </div>
    <div class="row taskInfoRow">
          <div class="col-lg-4 border-right">Created at: {{task.created_utc}}</div>
          <div class="col-lg-4 border-right">
            Expires (UTC):
            {{task.end_utc}}
            {% if (task.state == "f") or (task.state == "fp") %}
              <strong>(Expired)</strong>
            {% endif %}
          </div>
          <div class="col-lg-4">
            Reward:
            {% if task.token_amount %}
              {{task.token_amount}} M2C
            {% else %}
              0 M2C
            {% endif %}
          </div>
    </div>
  </div>

  <div class="list-group" id="answerList">
    {% for a in answers %}
      {% if a.answer|length %}
        {% include "answeritem.html" %}
      {% endif %}
    {% else %}
      {% if task.state == "f" %}
        This Assignment was never solved by anyone.
        If any reward was offered, the owner can recover his tokens now.
      {% else %}
        This Assignment has not been solved by anyone yet.
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script>
  app.account().then(function(acc){
    if ('{{task.corrector}}'.toLowerCase() == acc){
      $('#answerList').children().each(function() {

        //if this score is confirmed - offer "Mark" button
        if ($(this).find('.scoreUnconfirmed').length == 0) {
          $(this).find('.scoreRow').append(
            '<span class="float-right form-inline">' +
            '<input class="form-control scoreInput"/>' +
            '<button type="button" class="btn btn-primary mark">' +
            'Mark' +
            '</button>' +
            '</span>'
          );

          //if this answer was already marked
          if (!$(this).find(".scoreRow").text().includes('?')) {
            $(this).find('button').text('Mark again');
          }
        }
        else { //else signalize that score is being processed
          $(this).find('.scoreRow').append(
            '<span class="float-right form-inline">' +
            '<button type="button" class="btn btn-primary disabledButton">' +
            'Processing' +
            '</button>' +
            '</span>'
          );        
        }
      });
      $('#correctorInfo').text('Corrector: You');

      if('{{ task.token_amount }}') {
        $('#pageSubHeadline').append( //add reward button for corrector only
          '<span class="float-right">' +
          '<button type="button" class="btn btn-primary" id="rewardButton">' +
          'Get Reward!' +
          '</button>' +
          '</span>'
        );

        if (
          ('{{ task.state }}' != 'f') ||
          ('{{ marksMissing }}' == 'true') ||
          ('{{token_confirmed}}' == '0'))
          {
          $('#rewardButton').addClass('disabledButton');

          if ('{{ task.state }}' == 'o') {
            $("#rewardButton").attr('title', 'This task has no reward to earn');
          }
          else if ('{{ task.state }}' == 'op') {
            $("#rewardButton").attr('title', 'This task is not expired yet');
          }
          else if ('{{ task.state }}' == 'f') {
            $("#rewardButton").attr('title', 'You have to mark all answers first');
          }
          else if ('{{ task.state }}' == 'fp') {
            $("#rewardButton").attr('title', 'You have already received your reward');
          }
        }
      }
    }
  })
  .then(function(){
    $('#rewardButton').not(".disabledButton").on('click', function() {
      app.getReward('{{ task.contract }}');
    });
  })
  .then(function(){
    $('.mark').on('click', function() {
      var contract = '{{task.contract}}';
      var testee = $(this).closest('.list-group-item').find('.answerTestee').text().split(' ')[1];
      var score = parseInt($(this).siblings('.scoreInput').val());

      app.mark(contract, testee, score);
    });
  });

  $('.scoreResult').each(function() {
    var score = parseInt($(this).text().trim().split(' ')[0]);
    var maxScore = parseInt($(this).text().trim().split(' ')[2]);
    percentage = score/maxScore;

    if (0.85 < percentage){
      $(this).addClass('great');
    }
    else if (0.85 > percentage && percentage >= 0.7){
      $(this).addClass('good');
    }
    else if (0.7 > percentage && percentage >= 0.55){
      $(this).addClass('ok');
    }
    else if (0.55 > percentage && percentage >= 0.4){
      $(this).addClass('bad');
    }
    else {
      $(this).addClass('fail');
    }
  });

</script>
{% endblock %}
