{% extends "base.html" %}

{% block headline %}{{ task.question }}{% endblock %}
{% block subheadline %}<span class="badge badge-info keywordSpan">{{ task.keyword }}</span>{% endblock %}
{% block content %}
  <div class="row border" id="taskInfo">
        <div class="col-lg-3 border-right">Address: {{conShort}}</div>
        <div class="col-lg-3 border-right">Owner: {{ownShort}}</div>
        <div class="col-lg-3 border-right" id="correctorInfo">Corrector: {{corShort}}</div>
        <div class="col-lg-3">Created at: {{task.created_utc}}</div>
  </div>

  <div class="list-group" id="answerList">
    {% for a in answers %}
      {% include "answeritem.html" %}
    {% else %}
      This Assignment has not been solved by anyone yet.
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script>
  app.account().then(function(acc){
    if ('{{task.corrector}}'.toLowerCase() == acc){
      $('#answerList').children().each(function() {
        $(this).find(".scoreRow").append(
          '<span class="float-right form-inline">' +
          '<input class="form-control scoreInput"/>' +
          '<button type="button" class="btn btn-primary mark">' +
          'Mark' +
          '</button>' +
          '</span>'
        );

        //if this answer was already marked
        if (!$(this).find(".scoreRow").text().includes('?')) {
          $(this).find('button').text('Mark again');
        }
      });
      $('#correctorInfo').text('Corrector: You');
    }
  })
  .then(function(){
    $(".mark").on( "click", function() {
      var contract = '{{task.contract}}';
      var testee = $(this).closest('.list-group-item').find('.answerTestee').text().split(' ')[1];
      var score = parseInt($(this).siblings('.scoreInput').val());

      app.mark(contract, testee, score);
    });
  });

  $('.scoreResult').each(function() {
    var score = parseInt($(this).text().trim().split(' ')[0]);
    var maxScore = parseInt($(this).text().trim().split(' ')[2]);
    percentage = score/maxScore;

    if (0.85 < percentage){
      $(this).addClass('great');
    }
    else if (0.85 > percentage && percentage >= 0.7){
      $(this).addClass('good');
    }
    else if (0.7 > percentage && percentage >= 0.55){
      $(this).addClass('ok');
    }
    else if (0.55 > percentage && percentage >= 0.4){
      $(this).addClass('bad');
    }
    else {
      $(this).addClass('fail');
    }
  });

</script>
{% endblock %}
