{% extends "base.html" %}

{% block content %}
<h1>Tasks owned by {{ ownerShort }}</h1>
<div class="list-group">
  {% for t in tasks %}
    <a href="#" class="list-group-item list-group-item-action flex-column">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ t.question }}</h5>
        <small>{{t.created_utc}}</small>
      </div>
      <p class="mb-1">Address: {{ t.contract }}</p>
      <p class="mb-1">
        Corrector:
        {% if t.owner == t.corrector %}
          Me
        {% else %}
          {{ t.corrector }}
        {% endif %}
      </p>
    </a>
  {% else %}
    No tasks owned by {{ ownerShort }}.
  {% endfor %}
</div>
{% endblock %}