{% extends "base.html" %}

{% block headline %}{{ task.question }}{% endblock %}
{% block subheadline %}<span class="badge badge-info"">{{ task.keyword }}</span>{% endblock %}
{% block content %}
  <div class="row border" id="taskInfo">
        <div class="col-lg-3 border-right">Address: {{conShort}}</div>
        <div class="col-lg-3 border-right">Owner: {{ownShort}}</div>
        <div class="col-lg-3 border-right" id="correctorInfo">Corrector: {{corShort}}</div>
        <div class="col-lg-3">Created at: {{task.created_utc}}</div>
  </div>

  <div class="list-group" id="answerList">
    {% for a in answers %}
      {% include "answeritem.html" %}
    {% else %}
      This task has not been solved by anyone yet.
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script>
  app.account().then(function(acc){
    if ('{{task.corrector}}'.toLowerCase() == acc){
      $('#answerList').children().each(function(i) {
        $(this).find(".scoreRow").append(
          '<span class="float-right form-inline">' +
          '<input class="form-control scoreInput"/>' +
          '<button type="button"  class="btn btn-primary mark">' +
          'Mark' +
          '</button>' +
          '</span>'
        );
      });
      $('#correctorInfo').text('Corrector: You');
    }
  });
</script>
{% endblock %}
