h6 {
	margin-bottom: 30px;
}

.navbar {
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

.nav-item {
	margin-right: 15px;
}

.nav-item :not(.disabled){	
	cursor: pointer;
}

.nav-link {
	color: #555555 !important;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
	color: #000000 !important;
}

.nav-link.disabled {
	color: #aaaaaa !important;
}

.nav-link.disabled:hover,
.nav-link.disabled:active,
.nav-link.disabled:focus {
	color: #aaaaaa !important;
}

.btn-primary, .btn-primary:visited {
	background-color: #444444; 
	border-color: #444444; 
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: black !important; 
	border-color: black !important;
	box-shadow: none !important; 
}

.scoreInput, .amountInput {
	width: 60px !important;
	margin-right: 10px;
}

.disabledButton,
.disabledButton:hover,
.disabledButton:active {
	background-color: #444444 !important; 
}

.keywordSpan{
	cursor: pointer;
}

.scoreResult {
	color: #ffffff;
}

.scoreResult.great {
	background-color: #2d892c;
}

.scoreResult.good {
	background-color: #60dd5f;
}

.scoreResult.ok {
	background-color: #fff544;
	color: #000000;
}

.scoreResult.bad {
	background-color: #f9a236;
}

.scoreResult.fail {
	background-color: #ff0000;
}

.scoreResultSmall {
	padding: .075rem .45rem;
}

#gotoKeyword, #userBalance {
	margin-left: 60px;
}

#taskInfo {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-radius: .25rem;
	margin-left: 0px;
	margin-right: 0px;
}

#keywordInput {
	width: 150px !important;
}

#indexContent {
	font-size: 20px;
}